<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="landing.css" />
    <title>비밀번호 찾기</title>
  </head>
  <body>
    <main>
      <script src="landing.js"></script>
      <form class="loginpage">
        <div>
          <label><input id="name" type="text" placeholder="이름" /></label>
        </div>
        <div>
          <label><input id="id" type="text" placeholder="아이디" /></label>
        </div>
        <div>
          <input type="button" value="뒤로가기" onclick="back();" />
          <input type="button" value="비밀번호 찾기" onclick="pw_find();" />
        </div>
      </form>
    </main>
  </body>
</html>
