<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">문의하기</a></li>
          <li><a href="#">서비스 이용가이드</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>만든 사람들</h4>
        <ul>
          <li><a href="#">김민재</a></li>
          <li><a href="#">김상원</a></li>
          <li><a href="#">김재연</a></li>
          <li><a href="#">박재형</a></li>
          <li><a href="#">이경복</a></li>
          <li><a href="#">이수지</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
