.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.modal-box,
.modal-box2,
.modal-box3 {
  background-color: #fefefe;
  margin-top: 15%; /* 가운데 정렬 */
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid white;
  width: 80%; /* 너비 */
  flex-wrap: wrap;
  background-color: #fefefe;
  border-left: 5px solid cornflowerblue;
  border-right: 5px solid cornflowerblue;
}

.modal-box {
  display: flex;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top: 5px solid cornflowerblue;
  border-bottom: 1px solid cornflowerblue;
}
.modal-box2 {
  margin-top: 0%;
  margin-bottom: 0%; /* 가운데 정렬 */
  border-top: 1px solid cornflowerblue;
  border-bottom: 1px solid cornflowerblue;
}
.modal-box3 {
  margin-top: 0%;
  margin-bottom: 15%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom: 5px solid cornflowerblue;
  border-top: 1px solid cornflowerblue;
}

.modal-box3 p {
  font-size: 16px;
}

.modal-image {
  width: 50%;
}
.modal-image img {
  max-width: 100%;
  height: auto;
}

.modal-content {
  width: 40%;
  margin-left: 30px;
  flex-direction: column; /* 아이템들을 세로 방향으로 정렬 */
  justify-content: flex-start; /* 아이템들을 위에서부터 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.trailer {
  width: 100%;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.middle {
  display: flex;
  justify-content: center;
}

.input-box {
  width: 100%;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column; /* 아이템들을 세로 방향으로 정렬 */
  justify-content: flex-start; /* 아이템들을 위에서부터 정렬 */
  flex: 5;
}

.input-box p {
  margin: 0;
  margin-top: 10px;
}

.input-box input,
.input-box textarea,
.input-box button {
  width: 300px;
  margin: 0 auto;
  border-radius: 2px solid black;
}

.input-box button {
  margin-top: 30px;
  width: 30%;
  height: 50px;
}

#review-text {
  height: 50px;
}

.choose-rating {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  flex: 5;
  margin-left: 100px;
  margin: 0 200px;
}

.choose-rating p {
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.rating {
  font-size: 36px;
  cursor: pointer;
  margin: 0 auto;
}

.rating__result {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-10px) translateX(-5px);
  z-index: -9;
  font: 3em Arial, Helvetica, sans-serif;
  color: #ebebeb8e;
  pointer-events: none;
}

.rating__star {
  font-size: 1.3em;
  cursor: pointer;
  color: #dabd18b2;
  transition: filter linear 0.3s;
}

.rating__star:hover {
  filter: drop-shadow(1px 1px 4px gold);
}

.review-box {
  border: 1px solid #888;
  border-radius: 10px;
  padding: 10px;

  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}
