/* ------폰트 부분------ */

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;1,100&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@100&family=Noto+Serif+KR:wght@200&family=Roboto:wght@700&family=Rubik+Doodle+Shadow&family=Rubik+Glitch&family=Rubik+Lines&family=Rubik+Scribble&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Moirai+One&display=swap");

.header,
.cate {
  font-family: "Kanit", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Noto Serif KR", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik Doodle Shadow", system-ui;
  font-family: "Rubik Glitch", system-ui;
  font-family: "Rubik Lines", system-ui;
  font-family: "Rubik Scribble", system-ui;
}
.cate_menu,
.exBtn,
.seemore,
.live,
.movieadd {
  font-family: "Noto Sans KR", sans-serif;
}

.rank {
  font-family: "Anton", sans-serif;
}

@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

button {
  cursor: pointer;
}

/* -----헤드 부분-----*/

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #000000de;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

body {
  transition: all 0.3s ease-in-out;
  line-height: 1.5;
  background-color: #18191a;
  color: #fff;
}

body.dark {
  background-color: #fff;
  color: #000000;
}

.light {
  height: 10px;
}
.toggle {
  margin-left: 88%;

  position: relative;
  height: 40px;
  width: 100px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.548);
  cursor: pointer;
}

.toggle::before {
  content: "";
  position: absolute;
  height: 36px;
  width: 36px;
  background-color: #000000;
  border-radius: 50%;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  border-radius: 100px;
  box-shadow: 10px 5px 20px rgba(206, 192, 0, 0.548);
  transition: all 0.3s ease-in-out;
}
.toggle.active::before {
  background-color: rgb(164, 228, 255);
  left: calc(100% - 1px - 50px);
}

.toggle.active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.548);
}

/* 해와 달 */

.sun {
  position: absolute;
  font-size: 28px;
  left: 18px;
  top: 2px;

  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out;
}

.moon {
  position: absolute;
  font-size: 26px;
  left: 54px;
  top: 2.5px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out;
}

.toggle.active .sun {
  opacity: 0;
  visibility: hidden;
}

.toggle.active .moon {
  opacity: 1;
  visibility: visible;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #fff;
}

/* .searchBtn {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: transparent;

  width: 80px;
  height: 25px;
}
#searchInput {
  height: 30px;
  margin: 0 10px 10px 0;
}
.searchBtn:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
} */

#search > a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 30px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  cursor: pointer;
}

/* ---헤드 안 카테고리--- */

.cate_menu {
  background-color: transparent;
  width: 150px;
  padding-top: 20px;
  padding-bottom: 20px;

  position: absolute;
  right: 200px;
  top: 70px;
  z-index: 1001;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.cate_menu button {
  z-index: 2;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: white;

  visibility: hidden;
  display: block;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.cate_menu.active button {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.cate_menu button:hover {
  color: white;
  background-color: black;
  transition: 0.5s;
}

.cate {
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 35px;
  color: #fff;

  position: absolute;
  right: 200px;
}

.cate:hover {
  color: rgb(22, 123, 17);
}

/* 다크 모드 시 */
body.dark .lc:hover{
  transform: translate(-20px, -40px) scale(1.3, 1.3);
  box-shadow: 100px 10px 30px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

body.dark.nextbutton button {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body.dark.searchadd {
  border: 1px solid black;
  background-color: #18191a;
  color: #000000;
}

body.dark.searchadd:hover {
  background-color: black;
  color: white;
}

/* -----main 부분----- */

.main1 {
  height: 900px;
  color: black;
  position: relative;

  display: block;
}

#main1 img {
  width: 100%;
  height: auto;
  display: block;
}

#main2 img {
  width: 100%;
  height: auto;
  display: block;
}

#main3 img {
  width: 100%;
  height: auto;
  display: block;
}

#main4 img {
  width: 100%;
  height: auto;
  display: block;
}

#main5 img {
  width: 100%;
  height: auto;
  display: block;
}

#poster_path img {
  width: auto;
  height: 100%;
  display: block;

  position: absolute;
  left: 10%;
}

.main2 {
  height: 900px;
  color: black;
  position: relative;

  display: block;
}

.main3 {
  height: 900px;
  color: black;
  position: relative;

  display: block;
}

.main4 {
  height: 900px;
  color: black;
  position: relative;

  display: block;
}

.main5 {
  height: 900px;
  color: black;
  position: relative;

  display: block;
}

/* -----main 안에----- */

.detail {
  position: absolute;
  bottom: 130px;
  right: 80px;
  font-size: 30px;
}

.exBtn {
  background-color: black;
  color: white;
  border: 1px solid blanchedalmond;
  border-radius: 50px;
  font-size: 18px;

  width: 100px;
  height: 32px;
}

.exBtn:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

/* -----more 뒷부분----- */

.more1 {
  width: 100%;
  height: 900px;
  position: relative;

  display: none;
}

.more2 {
  width: 100%;
  height: 900px;
  position: relative;

  display: none;
}

.more3 {
  width: 100%;
  height: 900px;
  position: relative;

  display: none;
}

.more4 {
  width: 100%;
  height: 900px;
  position: relative;

  display: none;
}

.more5 {
  width: 100%;
  height: 900px;
  position: relative;

  display: none;
}

.close {
  font-size: 35px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50px;
  position: absolute;
  right: 10%;
  top: 10%;
}

.seemore {
  width: 50%;
  height: 900px;
  float: right;
  text-align: center;
  font-size: 20px;

  position: absolute;
  top: 150px;
  right: 40px;
}

.overview {
  width: 500px;
  height: auto;

  position: absolute;
  right: 20%;
}

.poster_path {
  width: 50%;
  height: 900px;
  float: left;
}

/* -----슬라이드를 위해------ */

.center {
  width: 500vw;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100vw;
  float: left;
}

.final {
  overflow: hidden;
  position: relative;
  max-height: 850px;
}

/* -----버튼들----- */

.mainbutton {
  position: absolute;
  left: 40%;
  bottom: 5%;
  z-index: 5;
}

.mainbutton button {
  margin-left: 30px;
  background-color: transparent;
  border: transparent;
}

.slidebutton button {
  background-color: transparent;
  border: transparent;
  z-index: 5;

  font-size: 30px;
  width: 100px;
  height: 100px;
}

.slidebutton {
  position: absolute;
  top: 350px;
  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

/* -----card------ */

.top {
  font-size: 38px;
  padding-left: 50px;
  padding: 15px 0 15px 30px;

  color: white;
  background-color: #252525;

  font-family: "JalnanGothic";
}

.lc {
  display: flex;
  width: 230px;
  height: 430px;
  float: left;

  margin: 85px 80px 0 120px;
  position: relative;

  color: black;
  margin-left: 50px;
  margin-right: 80px;
}

.lc:hover {
  transform: translate(-20px, -40px) scale(1.3, 1.3);
  box-shadow: 90px 5px 60px rgba(200, 200, 200, 0.5);
  transition: 0.5s;
}

.live {
  width: 10000%;
  transition: transform 0.5s ease-in-out;
}

.cardContainer {
  overflow: hidden;
  height: 645px;

  margin-top: 100px;
}

.rank {
  z-index: 1;
  position: absolute;
  font-size: 90px;
  top: 270px;
  left: -5px;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.poster img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.nextbutton button {
  background-color: transparent;
  border: transparent;
  padding: 5px;
  font-size: 35px;
  z-index: 1;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.nextbutton button:hover {
  color: white;
  transition: 0.3s;
}

.nextbutton {
  background-color: transparent;

  display: flex;
  justify-content: space-between;

  width: 100%;
}
.searchadd {
  font-size: 15px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.589);

  border-radius: 30px;
  background-color: #000000;

  padding: 10px 20px 10px 20px;
  margin-left: 90%;
}

.searchadd:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

/* -----footer 영역------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
